<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recommend</title>
    <link rel="stylesheet" href="../static/recommend.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inder&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <div class="navbar">
      <ul class="menu">
        <li class="title">
          <b><h3>Movie Recommendation</h3></b>
        </li>
        <li class="desktop inactive"><a href="/">Home</a></li>
        <li class="desktop active"><a href="/recommend">Recommend</a></li>
        <i
          class="fa-solid fa-bars-staggered mobile"
          onclick="showSidebar()"
          style="color: #fff"
        ></i>
      </ul>

      <ul class="menu-sidebar">
        <li>
          <i
            class="fa-solid fa-xmark"
            onclick="hideSidebar()"
            style="color: #fff"
          ></i>
        </li>
        <li class="desktop inactive"><a href="/">Home</a></li>
        <li class="desktop active"><a href="/recommend">Recommend</a></li>
      </ul>
    </div>
    <form method="post" action="/recommend" name="my_form">
      <div class="main-content">
        <h1 class="title">Recommend Movies</h1><br>
        <!-- <div class="alert-box">
          Search for the exact title <i class="fa-solid fa-xmark" style="color: #000000;"></i>
        </div> -->
        <div class="input-search">
          <input
            type="text"
            placeholder="Enter the movie name"
            class="search-input"
            id="user_input"
            name="user_input"
          />
        </div>
        <button type="submit" class="submit-button">Search</button>
        
      </div>
    </form>
    
    {% if movie_titles %}
    <div class="searched-movie">
      <h2 class="searched">Searched Movie</h2>
      <div class="card-searched">
        <span class="card-img-searched">
          <img src="{{inputed[11]}}" />
        </span>
        <div class="card-details-searched">
          <h2>Movie Name - {{inputed[1]}}</h2>
          <h2>Movie Director - {{inputed[2]}}</h2>
          <h2>Actors - {{inputed[3]}}, {{inputed[4]}}, {{inputed[5]}}</h2>
          <h2>Year - {{inputed[10]}}</h2>
          <h2>Genre - {{inputed[6] | replace(" ", " | ")}}</h2>
          <h2>Rating - {{inputed[8]}}</h2>
          <h2>Votes - {{inputed[9]}}</h2>
        </div>
      </div>
    </div>

    <div class="recommended-movies" style="margin-top: 40px">
      <h2>Recommended Movies</h2>
      <br />

      <div class="cards">
        {% for i in range(movie_titles|length) %}
        <div class="card">
          <div class="card-img">
            <img src="{{ movie_posters[i] }}" alt="" srcset="" />
          </div>
          <div class="card-content">
            <h3 class="content">{{ movie_titles[i] }}</h3>
            <h4 class="content">Year of Release - {{ movie_year[i] | int }}</h4>
            <h4 class="content">Rating - {{ movie_ratings[i] }}</h4>
            <h4 class="content">Votes - {{ movie_votes[i] | int }}</h4>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    <script src="../static/recommend.js">
    </script>
  </body>
</html>
